<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="account-pages">
            <div class="account-box">
              <div class="account-logo-box">
                <h2 class="text-uppercase text-center">
                  <a href="index.html" class="text-success">
                    <span><img src="assets/images/logo_dark.png" alt="" height="30"></span>
                  </a>
                </h2>
                <h5 class="text-uppercase font-bold m-b-5 m-t-50">تسجيل الدخول</h5>
              </div>
              <div class="account-content">
                <form class="form-horizontal" #loginForm="ngForm">

                  <div class="alert alert-warning fade in" *ngIf="inCorrectData">
                    <h5>حدث خطأ</h5>
                    <p>الإيميل أو الباسورد خطأ</p>
                  </div>

                  <div class="form-group m-b-20">
                    <div class="col-xs-12">
                      <label for="emailaddress">الإيميل<span class="text-danger"> *</span></label>
                      <input class="form-control" type="email" [(ngModel)]="currentLogin.email" id="user_email"
                        #emailControl="ngModel" name="user_email" required email>

                      <ul class="parsley-errors-list filled">
                        <li *ngIf="emailControl.errors?.required && (emailControl.dirty || loginSaveForm == true)">
                          يجب إدخال هذا الحقل</li>

                        <li *ngIf="emailControl.errors?.email && (emailControl.dirty || loginSaveForm == true)">يجب
                          إدخال إيميل صحيح</li>
                      </ul>

                    </div>
                  </div>

                  <div class="form-group m-b-20">
                    <div class="col-xs-12">
                      <label for="password">الباسورد<span class="text-danger"> *</span></label>
                      <input class="form-control" type="password" required id="user_password" name="user_password"
                        #passwordControl="ngModel" [(ngModel)]="currentLogin.password">
                      <ul class="parsley-errors-list filled">

                        <li
                          *ngIf="passwordControl.errors?.required && (passwordControl.dirty || loginSaveForm == true)">
                          يجب إدخال هذا الحقل</li>
                      </ul>
                    </div>
                  </div>

                  <div class="form-group text-center m-t-10">
                    <div class="col-xs-12">
                      <button class="btn btn-md btn-block btn-primary waves-effect waves-light"
                        [disabled]="loginForm.invalid" (click)="login()">تسجيل الدخول</button>
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </div>
          <!-- end card-box-->


        </div>
        <!-- end wrapper -->

      </div>
    </div>
  </div>
</section>