
  <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

      <div id="sidebar-menu">
        <ul class="metisMenu nav" id="side-menu">
          
          <li>
            <a [routerLink]="['/home/view-categories']"><i class="fi-help"></i><span>
                إدارة الأقسام </span></a>
          </li>

          <li>
            <a [routerLink]="['/home/view-products']"><i class="fi-help"></i><span>
              إدارة المنتجات
            </span></a>
          </li>

          <li>
            <a [routerLink]="['/home/view-users']"><i class="fi-help"></i><span>
              إدارة المستخدمين
            </span></a>
          </li>
      
        </ul>

      </div>
      <!-- Sidebar -->
      <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

  </div>
  <!-- Left Sidebar End -->
