
  <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

      <div id="sidebar-menu">
        <ul class="metisMenu nav" id="side-menu">
          
          <li>
            <a [routerLink]="['/home/add-category']"><i class="fi-help"></i><span>
                إضافة قسم </span></a>
          </li>

          <li>
            <a [routerLink]="['/home/add-product']"><i class="fi-help"></i><span>
                 إضافة منتج </span></a>
          </li>
      
        </ul>

      </div>
      <!-- Sidebar -->
      <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

  </div>
  <!-- Left Sidebar End -->
